ul{
    list-style-type: none;
    background-color: #070909;
    overflow: hidden;
}
li{
float: left;

}
li,a{
    padding: 5px;
    display: block;
    color: white;
    font-family: "DejaVu Sans";
    font-size: 10px;

}
h2,p{
    text-align: center;
}

img{
border-image: round;
}
.fruits{
    background-color: #ffad14;
    border: 2px dotted #ff2814;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: "DejaVu Sans Mono";
}
.cars{
    background-color: #00418b;
    font-family: Ramaraja;
    padding: 30px;
    text-align: center;
    margin: 30px;
}
.FRUITS{
    background-color: deeppink;padding: 15px;
    text-align: center;
    padding: 15px;
    border: 15px solid blueviolet;
    font-family: "Bitstream Charter";
}
#car{
    background-color: #39246b;
    border: 2px dotted #00ffea;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: "DejaVu Sans Mono";

}
#matunda
    {
    background-color: #00ff48;
    border: 2px dotted #ffffff;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: "DejaVu Sans Mono";

}
#car{
    color: whitesmoke;
 }

